.Lights .box {
  border: 1px solid black;
  border-radius: 5px;
  background-color: darkgrey;
  width: 100px;
  height: 50px;
  margin: 20px;
}

.Lights .state {
  color: grey;
}

.Lights .state.active {
  color: yellow;
}
